.li-footer {
    list-style: none;
}

.ul-footer {
    display: flex;
}

.li-time {
    list-style: none;
    background-color: aliceblue;
    border: 2px solid black;
    width: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
